{% extends "myapp/base.html" %}
{% block content %}
    {% for article in articles_list %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" >{{ article.author }}</a>
                    <small class="text-muted">{{ article.datePosted|date:"F d, Y" }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'article_details' article.slug %}">{{ article.title }}</a></h2>
                <p class="article-content">{{ article.content }}</p>
                </div>

            </div>
        </article>
    {% endfor %}
{% endblock content %}