
body {
    background: #fafafa;
    color: black;
  }
  
  h1, h2, h3, h4, h5, h6{
    color: black;
    text-align: center;
    font-family: 'Roboto';
    
  }

  p{
    color: grey;
    font-size: 22px;
    text-align: center
  }

  p.comment{
    text-align: left;
  }

  h3.info{
    color: grey;
    text-align: center;
    font-size: 22px;
  }

  h3.desc{
    text-align: left;
  }
  
  .card-body {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  i{
    text-align: center;
    
  }

  img.profile{
    object-fit: cover;
    overflow: hidden;
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  img.resume{
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  ul.horizontal {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    display: table;
  }

  li.horizontal {
    float: left;
    padding: 16px;
  }

    .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }

  